In [1]:
import pandas as pd

In [2]:
customer_data = {
    'id': [1, 2, 3, 4],
    'name': ['Joe', 'Henry', 'Sam', 'Max']
}
customer = pd.DataFrame(customer_data)

# Creating the 'orders' DataFrame
orders_data = {
    'id': [1, 2],
    'customerId': [3, 1]
}
orders = pd.DataFrame(orders_data)

In [3]:
customer

   id   name
0   1    Joe
1   2  Henry
2   3    Sam
3   4    Max

In [6]:
orders

   id  customerId
0   1           3
1   2           1

In [7]:
customer in orders

TypeError: unhashable type: 'DataFrame'