# Pandas

**What is Pandas?**

In [1]:
import pandas as pd
import numpy as np

In [2]:
data_set = np.arange(1, 500)

In [6]:
new_data = pd.Series(data_set)

In [7]:
new_data

0        1
1        2
2        3
3        4
4        5
      ...
494    495
495    496
496    497
497    498
498    499
Length: 499, dtype: int64

In [8]:
SAC = np.arange(100, 1, -2)

In [9]:
ser_ex = pd.Series(SAC)

In [10]:
ser_ex

0     100
1      98
2      96
3      94
4      92
5      90
6      88
7      86
8      84
9      82
10     80
11     78
12     76
13     74
14     72
15     70
16     68
17     66
18     64
19     62
20     60
21     58
22     56
23     54
24     52
25     50
26     48
27     46
28     44
29     42
30     40
31     38
32     36
33     34
34     32
35     30
36     28
37     26
38     24
39     22
40     20
41     18
42     16
43     14
44     12
45     10
46      8
47      6
48      4
49      2
dtype: int64

In [11]:
type(ser_ex)

pandas.core.series.Series

In [12]:
ser1 = pd.Series([1,2,3,4], index=['USA', 'Germany', 'USSR', 'Japan'])

In [13]:
ser1

USA        1
Germany    2
USSR       3
Japan      4
dtype: int64

# Pandas Dataframe

In [29]:
#arr = np.random.randint(0, 100, (5, 4))
arr = np.arange(0, 100)
new_arr = arr.reshape(25, 4)

In [30]:
new_arr

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11],
       [12, 13, 14, 15],
       [16, 17, 18, 19],
       [20, 21, 22, 23],
       [24, 25, 26, 27],
       [28, 29, 30, 31],
       [32, 33, 34, 35],
       [36, 37, 38, 39],
       [40, 41, 42, 43],
       [44, 45, 46, 47],
       [48, 49, 50, 51],
       [52, 53, 54, 55],
       [56, 57, 58, 59],
       [60, 61, 62, 63],
       [64, 65, 66, 67],
       [68, 69, 70, 71],
       [72, 73, 74, 75],
       [76, 77, 78, 79],
       [80, 81, 82, 83],
       [84, 85, 86, 87],
       [88, 89, 90, 91],
       [92, 93, 94, 95],
       [96, 97, 98, 99]])

In [5]:
cols = ['James', 'John', 'Jonathan', 'Jabaty']

In [31]:
df = pd.DataFrame(new_arr, columns=cols)

In [32]:
df

    James  John  Jonathan  Jabaty
0       0     1         2       3
1       4     5         6       7
2       8     9        10      11
3      12    13        14      15
4      16    17        18      19
5      20    21        22      23
6      24    25        26      27
7      28    29        30      31
8      32    33        34      35
9      36    37        38      39
10     40    41        42      43
11     44    45        46      47
12     48    49        50      51
13     52    53        54      55
14     56    57        58      59
15     60    61        62      63
16     64    65        66      67
17     68    69        70      71
18     72    73        74      75
19     76    77        78      79
20     80    81        82      83
21     84    85        86      87
22     88    89        90      91
23     92    93        94      95
24     96    97        98      99